name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Cache vcpkg
      uses: actions/cache@v3
      with:
        path: |
          ${{ github.workspace }}/vcpkg
          ${{ github.workspace }}/build/vcpkg_installed
        key: ${{ runner.os }}-vcpkg-${{ hashFiles('**/vcpkg.json') }}
        restore-keys: |
          ${{ runner.os }}-vcpkg-
          
    - name: Install vcpkg
      run: |
        if [! -d "vcpkg/.git"]; then
          git clone https://github.com/Microsoft/vcpkg.git
          cd vcpkg
          ./bootstrap-vcpkg.sh
        fi
      shell: bash
      if: runner.os != 'Windows' 
      
    - name: Install vcpkg (Windows)
      run: |
        if [! -d "vcpkg/.git"]; then
          git clone https://github.com/Microsoft/vcpkg.git
          cd vcpkg
          .\bootstrap-vcpkg.bat
        fi
      if: runner.os == 'Windows'
      
    - name: Build
      run: |
        cd ${{ github.workspace }} 
        cmake --preset=vcpkg
        cmake --build build
